.article-box {
  background-color: $secondary-background-color;
  height: 360px;
  margin-bottom: $primary-section-separator;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  user-select: none;

  .article-title {
    vertical-align: middle;
    display: block;
    color: $secondary-text-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform $tertiary-transition ease, top $tertiary-transition ease, font-size $tertiary-transition ease;
  }

  .article-thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity $secondary-transition ease-in-out, filter $secondary-transition ease-in-out;
    display: flex;
    align-items: center;
    z-index: 0;

    .thumbnail {
      width: 100%;
      height: auto;
      display: block;
      opacity: .8;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background: linear-gradient(to top, transparent, $secondary-background-color);
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 12px;
        width: 100%;
        background: linear-gradient(to bottom, transparent, $secondary-background-color);
      }

      .logo {
        display: block;
        width: 92%;
        height: 75px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../images/logo.png");
        padding-right: 20px;
        opacity: .4;
      }
    }
  }

  .article-read-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    padding: 12px 0;
    color: $primary-text-color;
    text-transform: uppercase;
    text-align: center;
    display: block;
    transition: transform $tertiary-transition ease-in-out;
  }

  .article-author {
    position: absolute;
    bottom: 6px;
    right: 6px;
    color: $primary-text-color;
    transition: transform $tertiary-transition ease;
    font-weight: bold;
    z-index: 0;
    display: block;
  }

  &:hover {
    .article-thumbnail {
      opacity: .4;
      filter: blur(4px);
    }

    .article-title {
      top: 25px;
      transform: translateX(-50%);
      font-size: 32px;
    }

    .article-read-more {
      transform: translate(-50%, 0);
    }

    .article-author {
      transform: translateX(150%);
    }
  }
}