.ba-btn {
  border-radius: $primary-border-radius;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color $primary-transition ease-in-out, background-color $primary-transition ease-in-out;
  width: max-content;

  &:hover {
    text-decoration: none;
  }
}

.ba-btn-sm {
  height: 34px;
  margin: 12px;
}

.ba-btn-lg {
  height: 46px;
  margin: 16px;
}

.ba-btn-full-radius {
  border-radius: 25px;
}

.ba-btn-primary {
  @extend .ba-btn;
  @extend .ba-btn-sm;

  background-color: $primary-background-color;
  color: $primary-text-color;

  &:hover {
    background-color: rgba($primary-background-color, .8);
    color: $primary-text-color;
  }
}