body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 21px;
}

sub {
    font-size: 16px;
}

label {
    font-size: 16px;
}

p {
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    font-size: inherit;
}