$primary-background-color: #CD2222;
$secondary-background-color: #111111;

$primary-text-color: #ffffff;
$secondary-text-color: #EAEAEA;

$primary-transition: 0.1s;
$secondary-transition: 0.3s;
$tertiary-transition: 0.5s;
$quaternary-transition: 1s;

$primary-border-radius: 8px;