$primary-background-color: #CD2222;
$secondary-background-color: #111111;
$tertiary-background-color: #212121;

$primary-text-color: #ffffff;
$secondary-text-color: #EAEAEA;
$tertiary-text-color: #212121;

$primary-transition: 0.1s;
$secondary-transition: 0.3s;
$tertiary-transition: 0.5s;
$quaternary-transition: 1s;

$primary-border-radius: 8px;

$primary-section-separator: 30px;