$primary-background-color: #CD2222;
$secondary-background-color: #111111;
$tertiary-background-color: #212121;
$quaternary-background-color: #ffffff;

$primary-text-color: #ffffff;
$secondary-text-color: #EAEAEA;
$tertiary-text-color: #212121;
$quaternary-text-color: #3B3B3B;
$quinary-text-color: #CD2222;

$primary-border-color: #EAEAEA;
$secondary-border-color: #CD2222;
$tertiary-border-color: #ffffff;

$primary-transition: 0.1s;
$secondary-transition: 0.3s;
$tertiary-transition: 0.5s;
$quaternary-transition: 1s;

$primary-border-radius: 0.25rem;
$secondary-border-radius: 22px;

$primary-section-separator: 30px;