.index_welcome {
  height: auto;

  .content {
    min-height: 615px;
    height: 100vh;
    animation: $tertiary-transition fadeIn forwards;
    padding: 98px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &.logged {
      height: calc(100vh - 32px);;
    }

    .title {
      font-size: 80px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $primary-text-color;
      position: relative;
      margin-bottom: 26px;

      &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 30%;
        max-width: 400px;
        background-color: $primary-text-color;
      }
    }

    .sub-title {
      font-size: 24px;
      color: $secondary-text-color;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
    }

    @media (max-width: 1200px) {
      .title {
        font-size: 72px;
      }

      .sub-title {
        font-size: 22px;
      }
    }

    @media (max-width: 992px) {
      .title {
        font-size: 62px;
      }

      .sub-title {
        font-size: 20px;
      }
    }

    @media (max-width: 768px) {
      .title {
        font-size: 48px;

        &::after {
          height: 3px;
        }
      }

      .sub-title {
        font-size: 18px;
      }
    }

    @media (max-width: 600px) {
      .title {
        font-size: 38px;
      }

      .sub-title {
        font-size: 16px;
      }
    }

    @media (max-width: 468px) {
      .title {
        font-size: 32px;

        &::after {
          height: 2px;
        }
      }

      .sub-title {
        font-size: 14px;
      }
    }

    @media (max-width: 360px) {
      .title {
        font-size: 28px
      }

      .sub-title {
        font-size: 12px;
      }
    }

    .join {
      margin-top: 55px;
      font-size: 18px;
      font-weight: 500;

      & > * {
        margin: auto;
        position: relative;

        &::before, &::after {
          @extend .fas;
          content: fa-content($fa-var-chevron-down);
          font-family: 'Font Awesome 5 Free';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 25px;
          height: 12px;
          font-size: 25px;
          color: $primary-text-color;
          opacity: .6;
          animation: pulseUpDown $quaternary-transition infinite;
        }

        &::before {
          top: -26px;
        }

        &::after {
          top: -37px;
        }
      }
    }
  }
}

.video {
  min-height: 568px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: $secondary-background-color;
  position: absolute;
  animation: $secondary-transition fadeIn forwards;
  z-index: -1;
  overflow: hidden;

  video {
    height: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    min-height: 575px;
    height: 100vh;
    width: 50%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, $secondary-background-color, rgba($secondary-background-color, .0));
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    min-height: 575px;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, $secondary-background-color, rgba($secondary-background-color, .0));
    z-index: 0;
  }
}