.index_welcome {
  height: auto;

  .content {
    margin-top: 55px;
    animation: $tertiary-transition fadeIn forwards;

    .title {
      font-size: 80px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: $primary-text-color;
      position: relative;
      margin-bottom: 26px;

      &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 100%;
        max-width: 400px;
        background-color: $primary-text-color;
      }
    }

    .sub-title {
      font-size: 24px;
      color: $secondary-text-color;
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
    }

    .join {
      margin-top: 55px;
      font-size: 21px;
      font-weight: 500;

      & > * {
        margin: auto;
        position: relative;

        &::before, &::after {
          @extend .fas;
          content: fa-content($fa-var-chevron-down);
          font-family: 'Font Awesome 5 Free';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 25px;
          height: 12px;
          font-size: 25px;
          color: $primary-text-color;
          opacity: .6;
          animation: pulseUpDown $quaternary-transition infinite;
        }

        &::before {
          top: -26px;
        }

        &::after {
          top: -37px;
        }
      }
    }
  }
}

.video {
  min-height: 575px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  animation: $secondary-transition fadeIn forwards;
  z-index: -1;
  overflow: hidden;

  video {
    max-width: 100%;
    height: auto;
  }

  &::before {
    content: '';
    position: absolute;
    min-height: 575px;
    height: 100vh;
    width: 50%;
    left: 0;
    top: 0;
    background-image: linear-gradient(to right, $secondary-background-color, rgba($secondary-background-color, .0));
    z-index: 0;
  }

  &::after {
    content: '';
    position: absolute;
    min-height: 575px;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    background-image: linear-gradient(to left, $secondary-background-color, rgba($secondary-background-color, .0));
    z-index: 0;
  }
}