.auth {
  .um-field {
    @extend .form-group;

    padding: 0;

    .um-field-label {
      margin: 0;

      label {
        color: $tertiary-text-color;
        font-weight: normal;
      }
    }
  }

  .um-form {
    .um-field-area {
      input {
        @extend .form-control;
      }
    }
  }

  #um-submit-btn {
    @extend .ba-btn-primary;

    display: block;
  }

  .um-col-alt {
    .um-right {
      .um-button {
        @extend .btn;
        @extend .btn-outline-dark;

        box-shadow: none;
        display: block;
        border: 1px solid $tertiary-text-color !important;
      }
    }
  }

  .um {
    .um-field-checkbox {
      &.active {
        &:not(.um-field-radio-state-disabled) {
          i {
            color: $quinary-text-color;
          }
        }
      }
    }
  }
}